.box-img-courses{
    padding: 20px;
    padding-bottom: 0px;
}
.img-courses{
    height: 200px;
    background-position: 50%;
    background-size: cover;
    border-radius: 14px;
}
.card-text{
    color: #696984;
}
.card-body{
    padding: 18px;
}
.more-info-course{
    width: 100%;
}

