.box-img-courses{
    padding: 20px;
    padding-bottom: 0px;
}
.img-courses{
    height: 200px;
    background-position: 50%;
    background-size: cover;
    border-radius: 14px;
}
.card-text{
    color: #696984;
}
.card-body{
    padding: 18px;
}
.more-info-course{
    width: 100%;
}

.search-box {
    position: relative;
}
.search-box input[type="text"] {
    padding-right: 30px; /* Ajusta el espacio para el icono de búsqueda */
}
.search-box .search-icon {
    position: absolute;
    right: 80px; /* Posiciona el icono a la derecha del input */
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; /* Color del icono */
    pointer-events: none; /* Evita que el icono interfiera con la interacción del input */
}

