@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

p{
  font-family: 'Lato', sans-serif !important;
}
a{
  font-family: 'Lato', sans-serif !important;
}
h2{
  font-family: 'Lato', sans-serif !important;
}


.box-sidebar-complete{
  width: 0;
}

.sidebar-title{
  background: #445AFF;
  transition: 0.5s;
}

button{
  background: #445AFF !important;
  color: white !important;
  border-width: 0px !important;
}
.button-programa-platform{
  background: #445AFF !important;
  color: white !important;
  border-width: 0px !important;
}

.sidebar-row{
  margin-bottom: 250px;
  max-height: 100%;
  overflow-y: auto;
}


.sidebar {
    overflow: hidden;
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 1;
    /*top: 170px;*/
    left: 0;
    /* background-color: red; */
    overflow-x: hidden;
    transition: 0.5s;
    border-right-color: #d9d1d1;
    border-right-width: 1px;
    border-right-style: solid;
    padding-bottom: 144px;
  }
  
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Estilos para el botón de abrir el sidebar */
  .openbtn {
    color: #445AFF;
    font-size: 32px;
    translate: -17px;
    background: white;
    border-radius: 50%;
  }

  .box-openbtn{
    z-index: 9;
    transition: 0.5s;
    position: fixed;
    top: 86px;
    left: 300px;
  }
  
  
  
  /* Estilos para el contenido */
  .contenido {
    margin-left: 300px;
    padding: 16px;
    transition: margin-left 0.5s; /* Agregar transición al desplazamiento del contenido */
  }



  .header-bar{
    border-bottom-color: #d9d1d1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0px !important;
    z-index: 10 !important;
  }
  .header-bar img{
    width: 123px;
    padding: 10px;
  }

  .link-leccion-direction{
    color : #445AFF !important;
    cursor: pointer;
    font-weight: bold;
  }
  .fa-circle-check{
    color: #445AFF;
  }

.button-sideba-modulo{
    /* border-bottom-color: #d9d1d1;
    border-bottom-width: 1px;
    border-bottom-style: solid; */
}

  .button-sidebar{
    border-bottom-color: #d9d1d1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
  }
  .text-sidebar-modulo{
    color: #272838;
    font-size: 1em;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px !important;
    padding-bottom: 2px;
    font-family: var(--bs-body-font-family);
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
  }

  .text-sidebar{
    color: #495255;
    font-size: 1em;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 0px !important;
    padding-bottom: 10px;
    font-family: var(--bs-body-font-family);
    line-height: 1.3;
    font-weight: 400;
    cursor: pointer;
  }
  .text-sidebar:hover{
    color : #445AFF !important;
  }

  .icon-check{
    position: relative;
    top: 10px;
    margin-left: 10px;
  }

  .box-title-course{
    cursor: pointer;
  }


  .box-title-course{
    display: flex;
  }
  .icon-course-title{
    width: 40px;
    position: relative;
    top: 18px;
    left: 15px;
    color: white;
  }
  .title-course{
    line-height: 1.3;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding-left: 21px;
    padding-top: 10px;
  }

  .content-description{
    line-height: 1.2;
    text-align: justify;
  }
  .button-big-screen{
    background: #445AFF !important;
    border-color: #445AFF !important;
    border-radius: 30px;
    width: 176px;
  }

  .box-cuestionario-platform{
  
  }

  .head-box-cuestionario-platform{
    background: #445AFF;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
  }

  .head-box-cuestionario-platform h3{
    margin-left: 15px;
  }

  .body-box-cuestionario-platform{
    padding-top: 20px;
    border-style: groove;
  }

  .box-alternative-platform{
    display: inline-flex;
  }

  .box-question-response{
    border-radius: 10px;
    padding: 25px;
    margin-top: 30px;
  }


  .box-justified-question{
    padding: 20px;
    border-radius: 10px;
    background: #445AFF;
    color: white;
  }

  .box-ql-editor .ql-editor{
    min-height: 100px !important;
    max-width: 100% !important;
  }
  .ql-toolbar button{
      background: white !important;
  }

  .box-question-response p {
    margin: 0px;
  }

  .toast-test{
    max-width: 220px !important;
  }

  .user_profile{
    font-size: 30px;
    padding: 14px;
    color: #445AFF;
    cursor: pointer;
  }

  .user_profile:hover{
    color: #5769f9;
  }

  .modal-backdrop{
    z-index: 20;
  }

  #logout_button{
    background: #FFFFFF; 
    color: #445AFF; 
    border-width: 0px;
    position: relative;
    top: -31px;
    cursor: pointer;
  }

  .border-success{
    border-color: #28ad28 !important;
  }
  .text-success{
    color: #28ad28 !important;
  }
  .link_recuperativa{
    color: #445AFF;
    cursor: pointer;
  }
  


 